* {font-family:Arial,Helvetica,sans-serif; -webkit-text-size-adjust:none; text-size-adjust:none;}
html {height: 100%;}
body {padding:0 15px 0 15px; margin:0; background-color:#CEDCDD; background-image:linear-gradient(to bottom, #003366, #CEDCDD 500px); background-repeat:repeat-x; height:100%; font-family:Arial,Helvetica,sans-serif; font-size:17px; color:#1A1A1A; overflow-y:scroll;}
a:visited, a:link  {color:#0168BB; font-family:Arial,Helvetica,sans-serif; text-decoration:none;}
a:hover, a:active {color:#FF6600; font-family:Arial,Helvetica,sans-serif; text-decoration:underline;}
/*hr {color:#D4E4E4; background-color:#D4E4E4; border:none; height:1px;}*/
hr {border:none; border-top: 1px solid #D4E4E4;}
td.border, tr.border {border-bottom:1px solid #D4E4E4;}
td.border_t, tr.border_t {border-top:1px solid #D4E4E4;}
form {margin:0;}
img {border:0;}
th {border-bottom:1px solid #D4E4E4; background-color:#F0F5F9; padding:4px; font-size:11px; color:#799; font-weight:normal;}
input, select, textarea {box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.logo {padding:0 15px 0 0; margin:0; font-size:10px; color:#FFF;}
.logo a:visited b, .logo a:link b, .logo a:hover b, .logo a:active b {font-size:44px; color:#FFF; text-decoration:none; font-weight:bold; letter-spacing:-1px;}
.logo a:visited, .logo a:link, .logo a:hover, .logo a:active {font-size:24px; color:#FFF; text-decoration:none;}
.logo p {font-size:9px; margin:0; padding:0; color:#FFF;}

.sf_suggestion {position:relative; margin:0; padding:0;}
.sf_suggestion ul {position:absolute; margin:0; padding:0; top:0; left:0; background:#FFF; border:1px solid #CCC; border-radius:7px; overflow:hidden; z-index:5;}
.sf_suggestion li {margin:0; padding:0; list-style:none;}
.sf_suggestion li a {display:block; padding:4px 0 4px 10px;}
.sf_suggestion a {color:#333; text-decoration:none;}
.sf_suggestion a:hover {color:#FFF; background:#0097CF;}
.sf_suggestion li.selected a {color:#FFF; background:#0097CF;}

#prof_list {padding:7px; margin-top:5px; border:1px solid #D4E4E4; font-size:11px; background-color:#F0F5F9;}
#prof_list a:visited, #prof_list a:link  {color:#0168BB; font-size:11px; text-decoration:none;}
#prof_list a:hover, #prof_list a:active {color:#FF6600; font-size:11px; text-decoration:underline;}

.menuleft, td.menuleft, .menuleft td {padding:7px 0 0 0; margin:0;}
.menuleft h2 {color:#333; padding:2px 0 0 0; margin:0; font-size:18px; font-weight:normal; letter-spacing:-0.01em;}
.menuleft h3 {color:#555; padding:4px 0 0 0; margin:0; font-size:14px; letter-spacing:-0.01em;}
.menuleft h4 {color:#555; padding:4px 0 0 0; margin:0; font-size:14px; letter-spacing:-0.01em;}
.menuleft li {padding:1px 0 2px 0; margin:0; font-size:14px; color:#477777; list-style-type:none;}
.menuleft ul {padding:0 5px 0 5px; margin:4px; font-size:14px; color:#477777;}
.menuleft a:visited, .menuleft a:link {color:#014B89;}
.menuleft a:hover, .menuleft a:active {color:#FF6600;}
#menu {padding:0 10px 10px 0; margin:0;}
#news {font-size:11px; width:90%;}
#news p {padding:6px 3px 3px 0; margin:0; font-size:11px;}
#news small {font-size:9px; color:#999999}
#news a {font-size:11px;}

.menufooter {color:#367; font-size:14px; padding:25px 0 25px 0; line-height:18px;}
.menufooter a {color:#0168BB; font-size:14px;}
.menufooter .breadcrumbs a {color:#367; font-size:14px;}

/*.contentmain {word-wrap:break-word; word-break:normal; word-break:break-word;}*/
.contentmain h1 {padding:15px 0 15px 0; margin:0; font-size:28px; font-weight:normal; color:#FF6600; line-height:30px; letter-spacing:-0.01em;}
.contentmain h2 {padding:13px 0 13px 0; margin:0; font-size:24px; font-weight:normal; color:#FF6600; letter-spacing:-0.01em;}
.contentmain h3 {padding:13px 0 13px 0; margin:0; font-size:22px; font-weight:normal; color:#333; letter-spacing:-0.01em;}
.contentmain p {padding:11px 0 11px 0; margin:0; line-height:1.45em;}
.contentmain textarea {line-height:1.25em;}
.contentmain select, .contentmain textarea, .contentmain input {font-size:17px; padding:10px;}
.contentmain select, .contentmain textarea, .contentmain input[type="text"], .contentmain input[type="number"], .contentmain input[type="email"], .contentmain input[type="tel"], .contentmain input[type="password"] {-webkit-appearance:none; -moz-appearance:none; appearance:none; background-color:#FFF; border:1px solid #CCC; border-radius:7px;}

.contentmain input[type="submit"], .contentmain input[type="button"] {cursor:pointer; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:#EEE; border:1px solid #AAA; border-radius:7px;}
.contentmain input[type="submit"]:hover, .contentmain input[type="button"]:hover {border:1px solid #666; background:#DDD;}

.contentmain input[type="radio"], .contentmain input[type="checkbox"] {transform:scale(1.2); opacity:0.9; cursor:pointer;}

.contentmain input {vertical-align:middle;}
.contentmain input[type="file"] {padding:6px 0 6px 0;}
input.radio_btn {margin:2px; padding:0; vertical-align:-1px;}
.contentmain label {cursor:pointer; margin-right:20px;}
.contentmain label:hover {color:#BF2200;}
.contentmain input:checked + span {color:#BF2200;}
.contentmain label input {cursor:pointer; padding:0px; margin:1px 5px 3px 0px;}
.contentmain .prof {padding-bottom:6px;}
.contentmain .prof a {font-size:20px; font-weight:bold;}
.contentmain .prof a:visited, .contentmain .prof a:active {color:#667777;}
.contentmain .org {font-size:14px; color:#990000; padding-top:5px;}
.contentmain .org a {font-size:14px; color:#990000;}
.contentmain a.times {font-family:Verdana; font-size:24px; color:#F99; text-decoration:none; line-height:10px; margin:0 5px 0 5px; vertical-align:-2px;}
.contentmain a.times:hover {color:#F00;}
.contentmain .btn {padding:8px 15px 8px 15px;}
.contentmain .btn2 {padding:12px 15px 12px 15px; font-weight:bold; width:100%; max-width:400px;}
.contentmain .font12, .contentmain .font12 a {font-size:12px;}
.contentmain .e_logo {border:1px solid #EEE; border-radius:4px;}

a.btn_send {display:inline-block; height:32px; font-size:15px; outline:1px solid #0168BB; border-radius:6px; color:#0168BB; text-decoration:none; line-height:32px; vertical-align:top; text-align:center; padding:0 10px 0 10px; background:#FAFCFD;}
a.btn_link {display:inline-block; outline:1px solid #0168BB; border-radius:6px; color:#0168BB; text-decoration:none; text-align:center; padding:10px 15px 10px 15px;}
a.btn_send:hover, a.btn_send:active, a.btn_link:hover, a.btn_link:active {background-color:#0168BB; color:white;}

.btn_send_form input[type="submit"] {font-size:15px; border:1px solid #0168BB; color:#0168BB; text-decoration:none; padding:7px 12px 7px 12px; background:#FAFCFD;}
.btn_send_form input[type="submit"]:hover {background:#0168BB; color:white;}

.bubble_link {border:1px solid #D4E4E4; background:#FAFCFD; border-radius:7px; padding:8px 12px; line-height:55px; white-space:nowrap; margin-right:10px;}
.bubble_p a {border:1px solid #D4E4E4; background:#FAFCFD; border-radius:7px; padding:8px 12px; line-height:55px; white-space:nowrap; margin-right:10px;}
.bubble_l a {border:1px solid #D4E4E4; border-radius:7px; padding:8px 12px; line-height:55px; white-space:nowrap; margin-right:10px;}

.search_addon_table label {font-size:14px; line-height:25px;}
.search_addon_table p {font-size:12px; color:#367; padding:9px 0 6px 0;}
.search_addon_table input[type="radio"], .search_addon_table input[type="checkbox"] {transform:scale(1.1);}

a.close {font-family:Verdana; font-size:16px; color:#F99; font-weight:bold; text-decoration:none; line-height:16px; margin-top:14px; padding:3px; float:right;}
a.close:hover {color:#F00;}

p.small, p.small strong, .small p, .small b, p.small a:visited, p.small a:link, p.small a:hover, p.small a:active {font-size:13px; color:#367;}
div.small, .small div, div.small b, div.small strong, .small a:visited, .small a:link, .small a:hover, .small a:active {font-size:13px; color:#477777;}
p.small12, p.small12 strong, .small12 p, .small12 b, p.small12 a:visited, p.small12 a:link, p.small12 a:hover, p.small12 a:active {font-size:13px; color:#367;}
.small_menu, .small_menu a {font-size:13px; color:#333;}

p.gray_clr, p.gray_clr strong, .gray_clr p, .gray_clr b, p.gray_clr a:visited, p.gray_clr a:link, p.gray_color a:hover, p.gray_clr a:active {color:#367;}

p.descr1 {font-size:14px; padding:5px 0 10px 0; color:#444;}
p.descr2 {font-size:16px; padding:5px 0 15px 0;}

a.invert:visited, a.invert:link  {text-decoration:none;}
a.invert:hover, a.invert:active {text-decoration:underline;}

p.font11, .font11 p, .font11 b, .font11 a {font-size:11px;}
p.font12, .font12 p, .font12 b, .font12 a {font-size:12px;}
p.font13, .font13 p, .font13 b, .font13 a {font-size:13px;}
p.font14, .font14 p, .font14 b, .font14 a {font-size:14px;}
p.font15, .font15 p, .font15 b, .font15 a {font-size:15px;}
p.font16, .font16 p, .font16 b, .font16 a {font-size:16px;}
p.font17, .font17 p, .font17 b, .font17 a {font-size:17px;}
p.font18, .font18 p, .font18 b, .font18 a {font-size:18px;}

.graytext, span.graytext, p.graytext {color:#889999;}

.spec_text, b.spec_text, font.spec_text, a:link.spec_text, a:visited.spec_text, a:hover.spec_text, a:active.spec_text {color:#BF2200}

.page_up {visibility: visible;}

/*.direct {padding:7px 10px 6px 11px; margin:0 -19px 0 -20px; background-color:#F6F9F9; border-top:1px solid #D4E4E4; border-bottom:1px solid #D4E4E4;}*/
.direct {background-color:#F8F8F8; margin:-1px 0 -1px 0;}
/*.direct_list {outline:1px solid #D4E4E4; max-height:170px;}*/
.direct_list {outline:1px solid #D4E4E4;}
#direct_1 {max-width:1060px; padding-bottom:35px; border-bottom:1px solid #D4E4E4;}
#direct_2 {max-width:1060px; margin:35px 0 10px 0;}
#direct_3 {max-width:1060px; margin:20px 0 10px 0;}

/*
.yap-layout__title {margin-bottom:7px;}
.yap-layout__body {margin-bottom:6px;}
.yap-sitelinks__inner {margin-bottom:5px;}
.yap-layout__contacts {margin-bottom:4px; font-size:12px;}
.yap-layout__warning {margin-bottom:8px;}
*/

td.citytab {font-size:11px; text-align:left; padding-left:10px;}
.citytab td {font-size:11px;}
.citytab a:visited, .citytab a:link {font-size:11px; text-decoration:none}
.citytab a:hover, .citytab a:active {font-size:11px; text-decoration:underline}
.citytab b, .citytab strong {font-size:12px; color:#444;}

.part_img {padding:0; margin:0; border:1px solid #D4E4E4; border-radius:7px;}
.resume_img {width:200px; height:230px; border-radius:7px; box-shadow:0 0 0 1px #D4E4E4;}
.tbl_padding td {padding:6px 0 6px 0;}
.tbl_padding2 td {padding:2px 0 2px 0;}
.tbl_radius {border:1px solid #D4E4E4; border-radius:0 8px 8px 8px; overflow:hidden;}
.tbl_radius td {padding-left:15px; padding-right:15px;}

.ajax_link, .ajax_link strong, .ajax_link b {font-size:14px; color:#BF2200;}
a.ajax_link:link, a.ajax_link:visited {font-size:14px; text-decoration:none; color:#BF2200; border-bottom:1px dotted #BF2200;}
a.ajax_link:hover, a.ajax_link:active {font-size:14px; text-decoration:none; color:#BF2200; border-bottom:none;}
a.ajax_link_b {font-size:12px; text-decoration:none; border-bottom:1px dotted;}

#ico_info {font-size:14px; color:#444; background-color:#F0F5F9; margin:17px -35px 19px -35px; padding:12px 25px 12px 35px;}
#ico_info .block_info_menu {display:inline-block; white-space:nowrap; margin-right:25px; padding:8px 0 8px 0;}
/*#ico_info .block_info_menu a {font-size:15px; color:#336677;}*/
#ico_info .block_info_menu a {padding-left:6px; font-size:14px; color:#456;}
#ico_info i {background:url(/img/ico_info2.png?4) no-repeat; background-size:176px 16px; width:16px; height:16px; display:block; float:left; opacity:0.9;}
#ico_info #fav {background-position:0 0;}
#ico_info #alert {background-position:-16px 0;}
#ico_info #email {background-position:-32px 0;}
#ico_info #print {background-position:-48px 0;}
#ico_info #word {background-position:-64px 0;}
#ico_info #archive {background-position:-80px 0;}
#ico_info #pen {background-position:-96px 0;}
#ico_info #drop {background-position:-112px 0;}
#ico_info #refresh {background-position:-128px 0;}
#ico_info #copy {background-position:-144px 0;}
#ico_info #black {background-position:-160px 0;}
/*#ico_info #archive {background:url(/img/close_square_icon_183760.svg) 0 0 no-repeat; background-size: 16px 16px;}
#ico_info #fav {background:url(/img/star_icon_183773.svg) 0 0 no-repeat; background-size: 16px 16px;}
#ico_info #email {background:url(/img/arrow_up_square_icon_183769.svg) 0 0 no-repeat; background-size: 16px 16px;}
#ico_info #alert {background:url(/img/current-work.png) 0 0 no-repeat; background-size: 16px 16px;}*/

#bad_ob input {padding:0; margin:0; font-size:11px;}

.col_1, .col_1 td {background-color:#FFF}
.col_2, .col_2 td {background-color:#F0F5F9}

p.success {color:green; background-color:#EAFFEA; padding-left:35px; margin:10px -35px 15px -35px;}
p.error {color:red; background-color:#FFEAEA; padding-left:35px; margin:10px -35px 15px -35px;}
p.error strong, p.error b {color:red;}

a.pager:visited, a.pager:link {padding:4px 11px 4px 11px; background-color:#fff; border:1px solid #D4E4E4; border-radius:7px; margin-right:4px; text-decoration:none; display:inline-block; text-align:center;}
a.pager:hover, a.pager:active {padding:4px 11px 4px 11px; background-color:#D4E4E4; color:#000; border-radius:7px; margin-right:4px; text-decoration:none; display:inline-block; text-align:center;}
font.pager_select {padding:4px 11px 4px 11px; background-color:#D4E4E4; border:1px solid #D4E4E4; border-radius:7px; margin-right:4px; font-weight:bold; display:inline-block; text-align:center;}
span.pager_inact {padding:4px 11px 4px 11px; background-color:#fff; border:1px solid #D4E4E4; border-radius:7px; margin-right:4px; text-decoration:none; display:inline-block; text-align:center; color:#889999;}

.emp_vac_active {background-color:#D4E4E4; border-radius:6px 6px 0 0; text-align:center; padding:10px 12px 10px 12px; font-size:15px; color:#333;  display:inline-block;}
.emp_vac_active a:hover, .emp_vac_active a:visited, .emp_vac_active a:link, .emp_vac_active a:active {font-size:15px; color:#333; text-decoration:none;}
.emp_vac_non_active {text-align:center; padding:10px 12px 10px 12px; font-size:15px; color:#333;  display:inline-block;}
.emp_vac_non_active a:hover, .emp_vac_non_active a:visited, .emp_vac_non_active a:link, .emp_vac_non_active a:active { font-size:15px; color:#333}
.emp_vac_filter input {font-size:13px; padding:2px 5px 2px 5px;}

.tr_line_1 {background:url(/img/line_1.gif) 0 0 repeat-x;}
.hidden-nav {visibility:hidden; white-space:nowrap;}
/*tr:hover.tr-hidden-span span.hidden-span {display:inline; white-space:nowrap;}*/
.hidden-nav-hover:hover  .hidden-nav {visibility:visible;}

.m-station {position:absolute; background:rgba(255,255,255,0.7); border-radius:5px; padding:1px 3px 1px 3px; font-size:10px; font-family:Arial; text-decoration:none;}
.m-station:hover {background:rgba(255, 180, 150, 0.7); cursor:pointer;}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type="number"] {-moz-appearance: textfield;}

.r1, .r2, .r3, .r4, .r5 {display: block; height: 1px; overflow: hidden; font-size:1px;}
.r5 { margin: 0 5px; }
.r4 { margin: 0 4px; }
.r3 { margin: 0 3px; }
.r2 { margin: 0 2px; }
.r1 { margin: 0 1px; }

#rounded-box-3 .inner-box, #rounded-box-3 .msg-box, #rounded-box-3  u {background-color: #F0F5F9;}
#rounded-box-main .main-box, #rounded-box-main  em {background-color: #FFF;}
.inner-box {padding:0 7px 0 7px;}
.main-box {padding:20px 35px 30px 35px; min-height:600px; border-radius:10px; background-color:#FFF;}

.form_search {background:#F0F5F9; margin:17px -35px 25px -35px; padding:25px 35px 25px 35px; border-top:1px solid #D4E4E4; border-bottom:1px solid #D4E4E4;}
.form_search select, .form_search textarea, .form_search input[type="text"], .form_search input[type="button"], .form_search input[type="submit"] {width:100%; height:42px; border-radius:8px;}

.form_send {background:#F0F5F9; margin:20px -35px 20px -35px; padding:35px 35px 35px 35px; text-align:center;}

.rounded-box-4 {padding:0 7px 0 7px; border-radius:8px; border:1px solid #D4E4E4; background: linear-gradient(to bottom, #F0F5F9, #FAFCFD 100px);}

.top-menu-div  {float:right; text-align:right; white-space:nowrap; padding:10px 0 0 0; margin:0 -10px 0 -10px; min-width:40%;}
a.top-menu-new-selected {font-size:13px; display:inline-block; border-radius:5px 5px 0 0; background-color:#FFFFFF; color:#000; padding:7px 10px 7px 10px; text-decoration:none; background:linear-gradient(to top, #FFFFFF, #D3EDF6);}
a.top-menu-new, .top-menu-new a, .top-menu-new {font-size:13px; display:inline-block; color:#FFE; padding:7px 10px 7px 10px;}
.top-menu-exit  {font-size:11px; text-align:right; padding:8px 0 3px 0;}


.td-to-div-zp {padding-top:25px;}
.td-to-div-city {padding-top:25px;}
.td-to-div-zp-short {padding-top:20px;}
.td-to-div-city-short {padding-top:20px;}

.td-to-div-zp p, .td-to-div-city p, .td-to-div-zp-short p, .td-to-div-city-short p {font-size:18px;}
.td-to-div-zp p.small, .td-to-div-city .small {font-size:12px;}

.sshow {display:none;}
.sshow-block {display:none;}


.navbar {
	overflow: hidden;
	background-color: #fff;  
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
	z-index:105;
	box-shadow: 0 -1px 0 #EEE;
}

.navbar-panel {
	background-color: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.navbar a {
	width:100%;
	display: block;
	color: #000;
	text-align: center;
	padding: 5px 0 5px 0;
	text-decoration: none;
	font-size: 13px;
}

.navbar a.nav-active {
	/*background-color: #F0F5F9;*/
	color:#0168BB;
}

.navbar .nav-active img {
	/*filter: invert(20%) sepia(97%) saturate(4013%) hue-rotate(353deg) brightness(93%) contrast(127%);*/
}




@media screen and (max-width: 770px) {
	
}



@media screen and (max-width: 600px) {
	body {padding:0;}
	
	.main-box {padding:15px 20px 30px 20px;}
	
	/*.menufooter {padding-bottom:80px;}*/
	
	.hhide680 {display:none;}
	
	.navbar {display:block;}
	
	/*.contentmain select, .contentmain textarea, .contentmain input {font-size:16px;}*/
	.contentmain h1 {font-size:27px;}
	
	.hhide {display:none;}
	.sshow {display:inline-block;}
	.sshow-block {display:block;}
	
	#ico_info {margin:17px -20px 19px -20px; padding:12px 15px 12px 20px;}
	.form_search {margin:15px -20px 25px -20px; padding:25px 20px 25px 20px;}
	.form_send {margin:20px -20px 20px -20px; padding:35px 20px 35px 20px;}
	p.success {padding-left:20px; margin:10px -20px 15px -20px;}
	p.error {padding-left:20px; margin:10px -20px 15px -20px;}
	
	/*hr {margin-left:-20px; margin-right:-20px;}*/
	
	.td-to-div {display:block; width:100%; text-align:left;}
	
	.td-to-div-zp, .td-to-div-zp-short {display:block; width:50%; float:left; padding:0;}
	.td-to-div-city, .td-to-div-city-short {display:block; width:50%; float:right; padding:0;}
	
	/*.td-to-div-zp p, .td-to-div-city p {padding:10px 0 10px 0;}*/
	
	.td-to-div-zp-short p, .td-to-div-city-short p {padding-top:0;}

	.table-to-div {display:block; width:100%;}
	.table-to-div tbody {display:block; width:100%; text-align:left; padding:0; margin:0;}
	.table-to-div tr {display:block; width:100%; text-align:left; padding:0; margin:10px 0 12px 0;}
	.table-to-div td {display:block; width:100%; text-align:left; padding:0; margin:0;}
	/*.table-to-div p {padding-bottom:2px;}*/
	
	.table-to-div td:nth-child(2n+1) p {padding-bottom:0; color:#889999;}
	/*.table-to-div td:nth-child(2n) p {font-size:14px;}
	
	.table-to-div a, .table-to-div input, .table-to-div select, .table-to-div label {font-size:14px;}*/
   
	/*.table-to-div a {font-size:14px;}*/
	.table-to-div .hhide {display:none;}
	
	/*#block_info table, #block_info tbody, #block_info tr, #block_info td {display:block; width:100%;}*/
	
	/*a.top-menu-new-selected {font-size:13px; display:inline-block; border-radius: 4px; background-color:#D3EDF6; color:#000; padding:5px 10px 5px 10px; text-decoration:none;}
	a.top-menu-new  {font-size:13px; display:inline-block; color:#FFC; padding:7px 10px 7px 10px;}*/
	
	.search_addon_table label {font-size:16px; line-height:28px;}
	.search_addon_table p {font-size:14px; color:#367; padding:15px 0 6px 0;}
	
	.part_img {max-width:140px;}
	.resume_img {width:130px; height:150px;}
	
	/*.tbl_radius {margin-left:-20px; margin-right:-20px;}*/
	
	/*.direct_list {max-height:280px;}*/
}